
<p-button label="Voltar" routerLink="/"></p-button>
<p-table [value]="transfers">
  <ng-template pTemplate="header">
      <tr>
          <th>id</th>
          <th>numberAccount</th>
          <th>numberAccountDestiny</th>
          <th>dateInitial</th>
          <th>dateFinal</th>
          <th>rateTransfer</th>
          <th>valueTransfer</th>
          <th>feeValue</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-transfer>
      <tr>
          <td>{{ transfer.id }}</td>
          <td>{{ transfer.numberAccount }}</td>
          <td>{{ transfer.numberAccountDestiny }}</td>
          <td>{{ transfer.dateInitial }}</td>
          <td>{{ transfer.dateFinal }}</td>
          <td>{{ transfer.rateTransfer }} %</td>
          <td >R$ {{ transfer.valueTransfer }}</td>
          <td>R$ {{ transfer.freeValue }}</td>
      </tr>
  </ng-template>

</p-table>


