<p-button label="Voltar" routerLink="/"></p-button>
<form [formGroup]="transferForm"  (submit)="saveUpdate()">

  <div class="grid formgrid">

    <span class="p-float-label  m-5 col">
      <p-calendar formControlName="dateFinal"></p-calendar>
      <label htmlFor="number-input">Agendar Transferencia Para</label>
    </span>

    <span class="p-float-label  m-5 col">
      <p-inputNumber formControlName="valueTransfer"></p-inputNumber>
      <label htmlFor="number-input">Valor da Transferencia</label>
    </span>

    <span class="p-float-label  m-5 col">
      <p-inputNumber formControlName="numberAccount"></p-inputNumber>
      <label htmlFor="number-input" aria-valuenow=transferForm.valid>Numero da sua Conta</label>
    </span>

    <span class="p-float-label  m-5 col">
      <p-inputNumber formControlName="numberAccountDestiny"></p-inputNumber>
      <label htmlFor="number-input">Numero da Conta do Destinatario</label>
    </span>

  </div>
    <p-button [label]="btnLabel" type="submit" [disabled]="!this.transferForm.valid"></p-button>

</form>
